//@import "../styleguide/global/global-styles";
//@import "../styleguide/global/font-families";

body {
  //@include unit-font-regular();
}

// GITENBERG EDITOR STYLES
/* Main column width */
.wp-block {
  max-width: 100%;
}

/* Width of "wide" blocks */
.wp-block[data-align='wide'] {
  max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align='full'] {
  max-width: none;
}
